header {
    min-height: 25vh;
    background-color: rgb(255, 187, 187);
}

main {
    min-height: 65vh;
    background-image: linear-gradient(to right, #d63e46, #f16c79, #d63e46);
}

footer {
    min-height: 10vh;
    background-color: rgb(255, 187, 187);
}

.navbar-nav a {
    padding: 8px;
}

.horizontal-nav {
    height: 8.9em;
    margin: 0 30px;
}

.nav-content{
    text-decoration: none;
    color: black;
    font-size: 2.5em;
}

footer img {
    width: 3em;
}

input,label:hover {
    cursor: pointer;
}

.search-input {
    width: 12em !important;
}   

.cards>div {
    width: 290px;
    height: 400px;
    background-color: rgb(248, 215, 218);
}

.cards img {
    width: 90%;
    height: 50%;
    object-fit: cover;
    /* box-shadow: -7px -7px 5px black; */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin-top: 14px;
    outline: 1px solid black;
}

.btn-shadow {
    box-shadow: -2px -2px 5px black;
}


.contact label {
    margin: 3px !important;
}

.contact input {
    margin-bottom: 1em;
}

.contact button {
    border: 1px solid black;
    border-radius: .2em;
    padding: .3em 1em;
    font-weight: 500;
}

.contact button:hover {
    background-color: #fff;
    transform: scale(1.05);
}

table, th, td {
    border: 1px solid black !important;
}

th {
    font-size: 1.3em;
    font-weight: 500;
    padding: .5em;
    background-color: #d63e46;
}

td {
    padding: 0 .5em;
}

.hidden {
    visibility: hidden;
}

.details {
    background-color: rgb(255, 187, 187);
    width: 95%;
    height: 95%;
    border: 2px solid black;
}

.detail-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detail-div-img {
    height: 200px;
}

@media screen and (min-width: 576px) {    
    .nav-content {
        font-size: 3em;
    }
}

@media screen and (min-width: 768px) {    
    .search-input {
        width: 17em !important;
    }

    .nav-content {
        font-size: 4em;
    }

    .details {
        width: 75%;
        height: 75%;
    }    

    .detail-text {
        border: 2px black;
        border-left-style: dashed;
    }

    .detail-div-img, .detail-text {
        width: 50%;
        height: 100%;
    }

    .detail-div-img {
        height: 225px;
    }    
}

@media screen and (min-width: 1200px) {    
    .search-input {
        width: 23.3em !important;
    }

    .detail-div-img, .detail-text {
        padding: 2em;
        height: 100%;
    }

    .contact {
        padding: 2em 20em;
    }    
}